.buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.buttons .signup {
  background-color: #ecf0f1;
  color: #3498db;
}
.buttons .signup:hover {
  background-color: #3498db;
  color: #ecf0f1;
  transform: scale(1.05);
}
.buttons .login {
  background-color: #3498db;
  color: #ecf0f1;
}
.buttons .login:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  transform: scale(1.05);
}

@media (max-width: 480px) {
  header .buttons {
      flex-direction: column;
      align-items: flex-start;
  }
  header .buttons button {
      margin: 5px 0;
  }
}