<div class="page intro">
  <div class="container">
    <div class="title-container">
      <h1>Connect, Collaborate & Contribute</h1>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        In CoCreation World, people from all over the world build connections that make work feel like play. <a href="/lol">Learn more about us</a>.
      </div>
      <ul class="platform-shortlist">
        <li><a href="linkedin.com" target="_blank" title="Linkedin">
          <div class="image linkedin"></div>
        </a></li>
        <li><a href="https://shopify.com" target="_blank" title="Shopify">
          <div class="image shopify"></div>
        </a></li>
        <li><a href="https://discord.com" target="_blank" title="Discord">
          <div class="image discord"></div>
        </a></li>
        <li><a href="/about" class="more">more</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="page connect">
  <div class="container">
    <div class="text-container">
      <div class="primary-text">
        <span>Connect: Connecting with people from around the world breaks down walls of cultural and ideological barriers dividing humanity, as you welcome diverse people.</span>
      </div>
      <div class="secondary-text">
        Every day a story is shared by people and companies in the CoCreation World library, where a portal awaits you to discover their virtual world. <a href="/about">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/about" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>

<div class="page collaborate">
  <div class="container">
    <div class="text-container">
      <div class="primary-text">
        <span>Collaborate: Collaborating with people from around the world increases your curiosity and reduces your biases, as you celebrate your differences in solving problems.</span>
      </div>
      <div class="secondary-text">
        In CoCreation World, we achieve more together than you could ever achieve on your own. <a href="/members">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/about" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>

<div class="page contribute">
  <div class="container">
    <div class="text-container">
      <div class="primary-text">
        <span>Contribute: Contributing with people from around the world to achieve collective goals is an immersive experience, as you cherish the humanity in every person.</span>
      </div>
      <div class="secondary-text">
        In CoCreation World, you can contribute to our sustainable development goals and shape a better world. <a href="/members">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/about" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>
