<footer id="footer">
<div class="container">
    <div class="footer-columns">
        <div class="footer-column">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#contact">Contact us</a>
            <a href="https://forum.cocreation.world/upcoming-events">Calendar</a>
            <a href="#">Pricing</a>
        </div>
        <div class="footer-column">
            <h3>Support</h3>
            <a href="#faq">FAQs</a>
            <a href="#">Documentation</a>
            <a href="https://forum.cocreation.world/new-topic?category=roadmap/report-a-bug&amp;body=Share%20detailed%20descriptions%20of%20any%20friction%20or%20problem%20you%20encounter.">Report a bug</a>
            <a href="https://forum.cocreation.world/c/roadmap/l/latest?board=categories%3A25%2C26%2C27%2C28%2C29">Roadmap</a>
        </div>
        <div class="footer-column">
            <h3>Legal</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#about">About us</a>
        </div>
        <div class="footer-column">
            <h3>Subscribe</h3>
            <a href="https://forum.cocreation.world/signup">Sign-up</a>
            <a href="https://forum.cocreation.world/login">Log-in</a>
        </div>
    </div>
    <p class="copyright">Copyright © 2024 <a href="https://cocreation.world">CoCreation.World</a>. All rights reserved.</p>
</div>
</footer>