
<header>
    <div class="logo" style="display: flex; align-items: center;"></div>
        <img id="site-logo" class="logo-big" src="https://ccwdraft.carrd.co/assets/images/favicon.png?v=3406ce05" alt="CoCreation.World" width="32" height="32">
        <h1>CoCreation.World</h1>
    </div>
    <nav>
        <a href="./home">Home</a>
        <a href="./about">About</a>
        <a href="mailto:hello@cocreation.world">Contact</a>
    </nav>
    <div class="buttons">
        <button class="signup" onclick="window.location.href='./signup'">Sign Up</button>
        <button class="login" onclick="window.location.href='./login'">Login</button>
    </div>
</header>